
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
        <button type="button" class="btn btn-success"><strong>{{path}}</strong></button> {{operation.summary}}
    </h4>

</div>
<hr>
{{operation.description}}

<h4>Request</h4>
{{operation.request.description}}

<h5>Parameters</h5>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">In</th>
        <th scope="col">Type</th>
        <th scope="col">Desciption</th>
    </tr>
    </thead>
    <tbody>
    {{#operation.parameters}}
    <tr>
        <td>{{name}}</td>
        <td>{{in}}</td>
        <td>{{schema.type}}</td>
        <td>{{description}}</td>
    </tr>
    {{/operation.parameters}}
    </tbody>
</table>

<h4>Responses</h4>
